<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: "l"}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.post_main_image) { %>
        <!-- Post image variable post_main_image detected -->
          <img src="<%- config.url %>/assets/<%- post.post_main_image %>" alt="<%- post.main_image_alt %>">
      <% } %>
      <% if (post.subtitle) { %>
        <strong class="article-subtitle"><%- post.subtitle %></strong>
      <% } %>
      <% if (post.meta_info) { %>
        <aside class="infobox" id="headnotes">
          <p>
            <%- post.meta_info %>
          </p>
          <% if (!index) { %>
            <% if (post.meta_affiliate_link) { %>
              <p>Affiliate link: <a href="<%- post.meta_affiliate_link %>">
              <% if (post.meta_affiliate_type) { %>
                &nbsp;<i><%- post.meta_affiliate_type %></i></a>
              <% } else { %>
                <i>(purchase)</i></a>
              <% } %>
              </p>
            <% } %>
          <% } %>
        </aside>
      <% } %>
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<%# Cut out "Talk to the reviewer" badgets and put them in a partial, which I'm probably not going to use. %>


<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>