<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <%= // Creative commons code %>
      <% if (page.layout === 'post'){ %>
      <div id="attributions">
        <div class="cc-badge">
  	      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">&ldquo;<%= page.title %></span> <span class="meta">by <a xmlns:cc="http://creativecommons.org/ns#" href="http://reviews.transcendentdestinies.net/2018/03/b5-pilot-review/" property="cc:attributionName" rel="cc:attributionURL">Strivenword</a></span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<span class="meta"><br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://reviews.transcendentdestinies.net/2018/03/b5-pilot-review/" rel="dct:source">http://reviews.transcendentdestinies.net/2018/03/b5-pilot-review/</a>.</span>
        </div>
	  </div>
      <% } %>
      <%= // END Creative commons code %>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      <div id="footer-closer">
        <p>soli deo gloria<p>
      </div>
    </div>
  </div>
</footer>